
/* -------------------------------------------- */
/*        CSS  -- TP Formulaires Réservation	*/
/* -------------------------------------------- */

/* ------------------  */
/* Style des couleurs  */
/* ------------------  */




li{
	padding: 	10px 30px;
	list-style: none;
	background: #e33;
}



li:nth-child(2){
	background: #F90;
}

li:nth-child(3){
	background: #Fc0;
}

li:nth-child(4){
	background: #5c3;
}

li:nth-child(5){
	background: #36C;
}


li:nth-child(6){
	background: #Ac3;
}

.teste {
    display: -webkit-flex;
    display: Flex;
    padding: 0;
    align-items:stretch;

}

ul{
	flex-direction:column;

}



.synopis {
    display: -webkit-flex;
    display: Flex;
    padding: 0;
    align-items:stretch;
}

.synopis_gauche{
	width: 32%;
	text-align: justify;
	margin-right: 2%;
	border-style: solid;
	border-width: 2px;
	border-color: red;
	padding: 5px;
}

.synopis_droite{
	width: 32%;
	text-align: justify;
	margin-right: 2%;
	border-style: solid;
	border-width: 2px;
	border-color: red;
	padding: 5px;
}